---
title: Coupons
layout: default.hbs
---

<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-sm-6 noPadding">
				<a href="aanmelden.html" class="header-logo"></a>
			</div>
		</div>
	</div>
</header>

<section class="landing-hero">
	<div class="landing-hero-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 text-center">
					<h1>
						Meer leuke kortingen?<br />Meld u aan en blijf op de hoogte.
					</h1>
					<form action="//persgroep.us11.list-manage.com/subscribe/post?u=d43bbf6605b32361b27be07c1&amp;id=5be4a932f3" method="post" id="mmc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate email-form" target="_blank" novalidate>
						<fieldset>
							<input type="email" value="" name="EMAIL" class="email textfield" id="mce-EMAIL" placeholder="Uw e-mailadres" required>
							
							<div><input type="text" value="" name="WOONPLAATS" class="email textfield" id="mce-WOONPLAATS" placeholder="Uw woonplaats" required></div>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;"><input type="text" name="b_d43bbf6605b32361b27be07c1_5be4a932f3" tabindex="-1" value=""></div>
							<div><input type="submit" value="Verstuur" name="subscribe" id="mc-embedded-subscribe" class="submit"></div>
							<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='WOONPLAATS';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="payoff">© de Persgroep 2015</div>
</section>

