---
title: Van tuincentrum tot spil in de buurt
layout: default.hbs
---

<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-sm-6 noPadding">
				<a href="aanmelden.html" class="header-logo"></a>
			</div>
		</div>
	</div>
</header>

<section class="article onlyText">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="h1">Cookies</p>
				<h2 class="article-h2">Wat zijn cookies?</h2>
				<p class="article-p">Cookies zijn kleine bestanden die jouw voorkeuren tijdens het surfen onthouden en opslaan op je eigen computer.</p>

				<h2 class="article-h2">Wat doen cookies?</h2>
				<p class="article-p">Cookies hebben twee functies. In de eerste plaats helpen ze je bij het surfen door inlognamen, wachtwoorden en voorkeuren zoals de taalinstelling te onthouden. Daarnaast zijn er cookies die de websites die je bezoekt registreren en zo een inschatting maken van jouw interesses. Met die informatie kunnen adverteerders en websitebeheerders voor jou interessante advertenties in een website plaatsen. Bovendien kunnen cookies voorkomen dat je steeds dezelfde advertentie ziet.</p>

				<h2 class="article-h2">Weten cookies wie ik ben?</h2>
				<p class="article-p">Nee! Je naam, adres, leeftijd en andere persoonlijke gegevens weet een cookie niet. Ze onthouden alleen je voorkeuren en je interesses op basis van je surfgedrag.</p>

				<h2 class="article-h2">Wat gebeurt er als ik de cookies uitzet?</h2>
				<p class="article-p">Dankzij reclame kun je de meeste websites gratis bezoeken. En dankzij cookies worden de advertenties beter afgestemd op jouw interesses. Zet je de cookies uit, dan ontvang je nog steeds reclame, alleen is deze dan niet meer afgestemd op jouw surfgedrag. Als je de cookies die je voorkeuren onthouden uitschakelt, moet je je instellingen, zoals je wachtwoord en inlognaam, steeds opnieuw intypen.</p>

				<h2 class="article-h2">Afmelden kan</h2>
				<p class="article-p">De cookies die adverteerders en websiteeigenaren inzicht geven in jouw interesses kun je aan- of uitzetten op www.youronlinechoices.eu/nl bij 'Veelgestelde vragen'. Je kunt daar ook aangeven welke bedrijven wel en welke niet je surfgedrag mogen vastleggen. De cookies die jouw wachtwoord, inlognamen en andere voorkeuren bijhouden kun je aan- of uitzetten via je browserinstellingen.</p>

				<h2 class="article-h2">Privacybeleid</h2>
				<p class="article-p">De Persgroep Nederland hanteert een strikt privacybeleid. Je informatie wordt met de grootst mogelijke zorgvuldigheid behandeld en beveiligd. Uiteraard houden we ons aan alle wet- en regelgeving, waaronder de Wet Bescherming Persoonsgegevens. Meer info over ons privacy- en cookiebeleid vind je hier.</p>

				<h2 class="article-h2">Gebruikte cookies</h2>
				<p class="article-p">Google AnalyticsDe cookies __tuma, __utmb, __utmc, __utmz zijn nodig om Google Analytics goed te kunnen gebruiken.</p>
			</div>
		</div>
	</div>
</section>
{{> partial-footer }}