---
title: Privacy Statement
layout: default.hbs
---
<header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-10 col-sm-6 noPadding">
				<a href="aanmelden.html" class="header-logo"></a>
			</div>
		</div>
	</div>
</header>

<section class="article onlyText">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="h1">Privacy Statement</h1>
				
				<p class="article-p">De Persgroep Nederland is uitgever van onder meer AD, de Volkskrant, Trouw en Het Parool. Persoonlijke gegevens van gebruikers van de producten en diensten van de Persgroep Nederland worden zorgvuldig behandeld en beveiligd. De Persgroep Nederland houdt zich aan de Wet Bescherming Persoonsgegevens.</p>

				<h2 class="article-h2">Vastleggen en verwerking van gegevens</h2>
				<p class="article-p">Wanneer u zich aanmeldt op een van de websites van de Persgroep Nederland, een abonnement neemt op AD, de Volkskrant, Trouw of Het Parool, een publicatie bestelt, deelneemt aan een actie, een bestelling plaatst, of anderszins gebruik maakt van de diensten van (een onderdeel van) de Persgroep Nederland, kan u worden gevraagd de volgende persoonsgegevens te verstrekken: naam, e-mailadres, woonadres of bezorgadres en betaalgegevens. De door u verstrekte gegevens komen onder de verantwoordelijkheid van de Persgroep Nederland te vallen. U verklaart dat deze gegevens correct zijn en zal ons informeren over wijzigingen die zouden optreden in deze gegevens. Uw gegevens worden niet verstrekt aan bedrijven en instellingen buiten de Persgroep Nederland.</p>

				<p class="article-p">De Persgroep Nederland gebruikt uw gegevens voor de uitvoering van de gebruikersovereenkomst, de uitvoering van uw bestelling en om u op de hoogte te houden van het verloop daarvan, het verlenen van service en/of om u te informeren over andere producten en diensten van de Persgroep Nederland indien u daarop prijs stelt. Hierbij tracht de Persgroep Nederland rekening te houden met uw voorkeuren. Uw persoonlijke gegevens worden bewaard op een Secured Server. Als u geen prijs stelt op informatie over producten en diensten van de Persgroep Nederland kunt u dit aangeven bij uw registratie voor de websites van de betreffende krant of schriftelijk melden bij:
					<br /><br />
					De Persgroep Nederland<br />
					Postbus 2104<br />
					1000 CC Amsterdam
				</p>
				<h2 class="article-h2">Beveiliging gegevens</h2>
				<p class="article-p">De Persgroep Nederland maakt gebruik van uitgebreide veiligheidsprocedures voor de bescherming van de verwerkte gegevens, onder meer om te voorkomen dat onbevoegden toegang krijgen tot deze gegevens.</p>

				<h2 class="article-h2">Clickgedrag</h2>
				<p class="article-p">Op de website worden bezoekgegevens bijgehouden om de belangstelling voor de verschillende onderdelen van de site te meten. Daardoor kan de inrichting van de website aangepast worden aan de belangstelling en ervaringen van bezoekers.</p>

				<h2 class="article-h2">Gebruik van Cookies</h2>
				<p class="article-p">De websites van de Persgroep Nederland maken bij het aanbieden van hun diensten gebruik van cookies om u te identificeren en daarmee de toegang tot de site voor u gemakkelijker te maken. Een cookie is een eenvoudig klein bestand dat op de harde schijf van uw computer wordt opgeslagen. Een geregistreerde die geen cookies accepteert, heeft slechts beperkte toegang tot de betreffende site. De Persgroep Nederland gebruikt de informatie uit de cookies niet op individueel niveau.</p>

				<h2 class="article-h2">Links naar websites en cookies van andere partijen</h2>
				<p class="article-p">Op de websites van de Persgroep Nederland staan hyperlinks naar andere websites. De websites van de Persgroep Nederland zijn niet verantwoordelijk voor de inhoud of het privacybeleid van websites waarnaar wordt doorverwezen. Ook zijn de websites van de Persgroep Nederland niet verantwoordelijk voor de plaatsing van cookies door partijen die op deze site adverteren.</p>

				<h2 class="article-h2">Wijzigingen</h2>
				<p class="article-p">De Persgroep Nederland behoudt zich het recht voor om wijzigingen aan te brengen in het privacystatement. Check daarom regelmatig het privacystatement voor eventuele aanpassingen.</p>

				<h2 class="article-h2">Vragen</h2>
				<p class="article-p">Als u nog vragen heeft over ons privacybeleid kunt u contact opnemen de Persgroep Nederland via het e-mailadres <a href="mailto:&#112;&#114;&#105;&#118;&#097;&#099;&#121;&#064;&#112;&#101;&#114;&#115;&#103;&#114;&#111;&#101;&#112;&#046;&#110;&#108;">privacy@persgroep.nl</a>.</p>
			</div>
		</div>
	</div>
</section>
{{> partial-footer }}