			<div class="coupon-label coupon-label-price">
				<div class="coupon-label-price-shoutout linetrough"><span>98,95</span></div>
				<div><span class="coupon-label-price-primary">69.</span><span class="coupon-label-price-secondary">90</span></div>
			</div>