<div class="container coupon-row">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="coupon-h2 categorie-list-vrije-tijd">Vrije tijd</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <a class="btnnext btnnext-cat4"></a>
            <a class="btnprev btnprev-cat4"></a>
            <div class="owl-carousel coupon-wrapper" id="owl-cat4">
                {{> partial-coupon }}
            </div>
        </div>
    </div>
</div>