<a href="http://www.nu.nl">
	<div class="col-sm-12 banner-coupon">
		<div class="row">
			<div class="col-sm-6 noPadding">
				<div class="banner-logo">
					<div class="img-container img-ratio-5-1">
						<img src="assets/img/coupon-logo-de.png" alt="">
					</div>
				</div>
				<div class="banner-img-wrapper">
					<div class="coupon-label coupon-label--banner coupon-label-price">
						<div class="coupon-label-price-shoutout linetrough"><span>98,95</span></div>
						<div><span class="coupon-label-price-primary">69.</span><span class="coupon-label-price-secondary">90</span></div>
					</div>
					<div class="img-container img-ratio-4-3">
						<img class="lazyOwl" data-src="/assets/img/coupon-product-1.png" alt=""  >
					</div>
				</div>
			</div>
			<div class="col-sm-6 banner-barcode">
				<div class="banner-cut"></div>
				<div class="banner-title">500gr shoarma, 4 broodjes en knoflooksaus voor 6,95</div>
				<div class="coupon-locatie coupon-locatie--banner"><i class="fa fa-map-marker"></i> Hengelo</div>
			</div>
		</div>
	</div>
</a>
