<div class="item">
	<div class="col-sm-12 coupon">
		<div class="coupon-graphic">
			{{> label-text }}
			<div class="img-container img-ratio-4-2">
				<img src="assets/img/coupon-product.png" alt="" class="lazyOwl" data-src="assets/img/coupon-product-1-2.png">
			</div>
			<!--<div class="coupon-extra">Laatste week</div>-->
		</div>
		<div class="coupon-offer coupon-offer--nobarcode">
			<h3 class="coupon-offer-title">Nu korting op alle aardbeienvlaaien!</h3>
			<div class="coupon-locatie"><i class="fa fa-map-marker"></i> Enschede</div>
			<!--p class="coupon-offer-note">* Uitsluitend op vertoon van deze coupon</p-->
		</div>
		<div class="coupon-retailer">* Aangeboden door: <strong>MultiVlaai</strong></div>
	</div>
</div>

<div class="item">
	<div class="col-sm-12 coupon">
		<div class="coupon-graphic">
			{{> label-price }}
			<div class="img-container img-ratio-4-2">
				<img src="assets/img/coupon-product.png" alt="" class="lazyOwl" data-src="assets/img/coupon-product-2-2.png">
			</div>
			<!--div class="coupon-extra">Laatste week</div-->
		</div>
		<div class="coupon-offer coupon-offer--nobarcode">
			<h3 class="coupon-offer-title">Braun scheerapparaat</h3>
			<div class="coupon-locatie"><i class="fa fa-map-marker"></i> Enschede</div>
		</div>
		<div class="coupon-retailer">* Aangeboden door: <strong>Kijkshop</strong></div>
	</div>
</div>

<div class="item">
	<div class="col-sm-12 coupon">
		<div class="coupon-graphic">
			{{> label-discount }}
			<div class="img-container img-ratio-4-2">
				<img src="assets/img/coupon-product.png" alt="" class="lazyOwl" data-src="assets/img/coupon-product-3-2.png">
			</div>
		</div>
		<div class="coupon-offer coupon-offer--nobarcode">
			<h3 class="coupon-offer-title">Vers van het land tegen een extra lage prijs</h3>
			<div class="coupon-locatie"><i class="fa fa-map-marker"></i> Enschede</div>
		</div>
		<div class="coupon-retailer">* Aangeboden door: <strong>Lidl</strong></div>
	</div>
</div>

<div class="item">
	<div class="col-sm-12 coupon">
		<div class="coupon-graphic">
			{{> label-price }}
			<div class="img-container img-ratio-4-2">
				<img src="assets/img/coupon-product.png" alt="" class="lazyOwl" data-src="assets/img/coupon-product-4-2.png">
			</div>
			<!--div class="coupon-extra">Laatste week</div-->
		</div>
		<div class="coupon-offer coupon-offer--nobarcode">
			<h3 class="coupon-offer-title">Nieuwe grotematen collectie 43+44</h3>
			<div class="coupon-locatie"><i class="fa fa-map-marker"></i> Enschede</div>
		</div>
		<div class="coupon-retailer">* Aangeboden door: <strong>Van Haren</strong></div>
	</div>
</div>
