<div class="container coupon-row">
    <div class="row">
        <div class="col-xs-6">
            <h2 class="coupon-h2">Tech</h2>
        </div>
        <div class="col-xs-6 text-right">
            <!--<a href="" class="link-all">Alle Coupons in Eten &amp; Drinken</a>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <a class="btnnext btnnext-cat3"></a>
            <a class="btnprev btnprev-cat3"></a>
            <div class="owl-carousel coupon-wrapper" id="owl-cat3">
                {{> partial-coupon }}
            </div>
        </div>
    </div>
</div>