<div class="coupon-modal" id="coupon-modal" style="display: none;">
	<div class="coupon-close"><i class="fa fa-times"></i></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-center">
				<div class="row">
					<div class="col-md-8">
						<div class="coupon-large">
							<div class="coupon-large-coupon">
								<div class="coupon-cut"></div>
								<div class="coupon-large-graphic">
									{{> label-discount }}
									<div class="img-container img-ratio-4-3">
										<img src="assets/img/coupon-product-4.png" alt="">
									</div>
								</div>
								<div class="row coupon-large-offer">
									<div class="col-xs-10 col-xs-offset-1">
										<p class="coupon-large-validity">Geldig van <strong>18 sep</strong> t/m <strong>10 okt 2015</strong></p>
										<h3 class="coupon-large-offer-title">Nieuwe grotematen collectie 43+44</h3>
									</div>
								</div>
								<div class="row coupon-large-offer ">
									<div class="col-xs-10 col-xs-offset-1">
										<a href="javascript:window.print()" class="btn btn-print"><i class="fa fa-pdf"></i>Download & Print <span>de coupon</span></a>
										<div class="row small-btns">
											<div class="col-sm-6 noPaddingRight">
												<button class="btn btn-mobile"><i class="fa fa-envelope"></i>Mail <span>mijn de coupon</span></button>
											</div>
											<div class="col-sm-6 noPaddingLeft">
												<button class="btn btn-facebook"><i class="fa fa-facebook"></i>Deel <span>op facebook</span></button>
											</div>
										</div>
									</div>
								</div>
								<div class="row coupon-large-conditions">
									<div class="col-xs-10 col-xs-offset-1">
										<h4>Voorwaarden</h4>
										<ul>
											<li><span>Alleen geldig bij afgifte of het tonen van deze coupon</span></li>
											<li><span>Maximaal 1 per klant</span></li>
											<li><span>Zolang de voorraad strekt</span></li> 
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 extra-info">
						<div class="coupon-large">
							<div class="coupon-large-retailer-logo">
								<img src="assets/img/coupon-logo-vanharen.png" alt="" class="img-responsive">
							</div>
							<div class="coupon-large-retailer-map">
								<div id="gmap"></div>
								{{> partial-map }}
							</div>
							<div class="coupon-large-retailer">
								<h2 class="coupon-large-retailer-name">Sauna Swoll</h2>
								<address class="coupon-large-retailer-address">
									Gedempte Turfhaven 44<br />
									<strong>Enschede</strong><br />
									<span>T</span> 045 564 75 345<br />
									<a href="#" target="_blank">www.saunaswoll.nl</a>
								</address>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>