<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<a href="/" class="header-logo"></a>
			</div>
		</div>
	</div>
</header>

<section class="categorie">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="categorie-list clearfix">
					<li class="categorie-list-item">
						<div class="categorie-list-link categorie-list-eten-en-drinken">Eten & drinken</div>
					</li>
					<li class="categorie-list-item">
						<div class="categorie-list-link categorie-list-huis-en-tuin">Huis & tuin</div>
					</li>
					<li class="categorie-list-item">
						<div class="categorie-list-link categorie-list-mode-en-beauty">Mode & beauty</div>
					</li>
					<li class="categorie-list-item">
						<div class="categorie-list-link categorie-list-vrije-tijd">Vrije tijd</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="how-to">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1 class="coupon-h1">Hoe werkt Buurtcoupons?</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 text-center"><div><i class="fa fa-check"></i></div>1. Selecteer de coupon die je leuk vindt</div>
					<div class="col-sm-4 text-center"><div><i class="fa fa-mobile"></i></div>2. Toon de coupon aan de winkelier</div>
					<div class="col-sm-4 text-center"><div><i class="fa fa-percent"></i></div>3. Ontvang direct jouw voordeel!</div>
				</div>
			</div>
		</div>
	</div>
</section>