<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyright">Deze site is een uitgave de Persgroep</div>
            </div>
            <div class="col-sm-6">
                <ul class="footer-list clearfix">
                    <li><a href="aanmelden.html">Aanbiedingen per mail ontvangen?</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="cookies.html">Cookies</a></li>
                </ul>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-12"><a href="http://www.persgroepadvertising.nl">© de Persgroep 2015</a></div>
        </div>
    </div>
</footer> 