<div class="container coupon-row">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="coupon-h2 categorie-list-mode-en-beauty">Mode & beauty</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <a class="btnnext btnnext-cat2"></a>
            <a class="btnprev btnprev-cat2"></a>
            <div class="owl-carousel coupon-wrapper" id="owl-cat2">
                {{> partial-coupon }}
            </div>
        </div>
    </div>
</div>