.article-social{
	list-style-type: none;
	margin-top: 10px;

	& li{
		display: inline;
		margin: 0 2px 0;
		@media screen and (max-width: 767px){
			margin: 0;

			&.linkedin, &.mail{
				display: none;
			}
		}
		&:last-child{
			margin-right: 0px;
		}
	}
} 

.btn-social{
	border: 0;
	display: inline-block;
	background: none;
	text-decoration: none !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #fff !important;
	line-height: 36px;
	font-size: 13px;
	padding: 0 17px;
	-webkit-transition: background-color .2s ease-in-out 0s;
	-moz-transition: background-color .2s ease-in-out 0s;
	-o-transition: background-color .2s ease-in-out 0s;
	transition: background-color .2s ease-in-out 0s;
	@media screen and (max-width: 767px){
		padding: 0 10px;
		line-height: 28px;

		& span{
			display: none;
		}
	}


	& i{
		font-size: 18px;
		line-height: 36px;
		margin-right: 5px;
		@media screen and (max-width: 767px){
			margin-right: 0px;
			line-height: 28px;
		}
	}

	&--facebook{
		background-color: #3C5B9A;
		&:hover{
			background-color: #36528a;
		}
	}
	&--twitter{
		background-color: #429CFF;
		&:hover{
			background-color: #3b8ce5;
		}
	}
	&--linkedin{
		background-color: #0C78B6;
		&:hover{
			background-color: #0b6ca3;
		}
	}
	&--mail{
		background-color: #DD4C38;
		&:hover{
			background-color: #c64432;
		}

		& i{
			margin-right: 0px;
		}
	}

}

.coupon-button{
	border: none;
	background-color: #9c0;
	color: #fff;
	text-align: center;
	font-weight: 600;
	padding: 13px 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1;

	&:hover{
		background-color: $primary-color;
	}

	&--disabled{
		background-color: #ebf5cc;
		cursor: default;
		color: #9c0;
	}
}