$primary-color: rgb(51,37,116);
$secondary-color: rgb(224,0,76);
$tertiary-color: rgb(72,181,159);

$label-color: #FFEE00;
$label-color-discount: #FFEE00;
$label-color-text: #FFEE00;
$link-color: rgb(51,37,116);
$extra-color: #afcd09;